* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Jost';
  src: url('../font/Jost-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../font/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../font/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../font/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../font/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.topbar {
  background-color: #f5f5f5;
  padding: 3px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #646464;
  font-weight: 300;

}

.topbar-right a {
  margin-left: 16px;
  color: #333;
  font-weight: 40;
}


/*mainheader部分*/
.main-header {
  background: white;
  padding: 12px 24px 0 24px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12x;/*调整main header两行的间距*/
}

.logo-img {
  height: 68px;
}


/* 搜索条 */
.search-container {
  flex-grow: 1;
  display: flex;
  max-width: 600px;
  border-radius: 30px;
  overflow: hidden;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0 12px;
  border-radius: 30px 0 0 30px;
  flex: 1;
}


.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.6;
}

.search-box input {
  flex: 1;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

.search-container input::placeholder {
  font-size: 14px;
  color: #5C5C5C;
}


/* 搜索按钮 */
.search-container button {
  padding: 8px 22px;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* 可选：调大字体 */
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}

/*右上角三个图标*/
.icons-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.icon-wrapper img {
  width: 24px;
  height: 24px;
}

.cart-icon {
  transform: translateX(-1px);
}


/* 三种不同颜色背景 */
.icon-wrapper.light {
  background-color: #ffffff;
}

.icon-wrapper.orange {
  background-color: #f97316;
}

.icon-wrapper.yellow {
  background-color: #fde68a;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2;
}

.bottom-row {
  display: flex;
  align-items: center;
  gap: 68px;
  margin-left: 15px;
}

.menu-button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 14px 18px;
  border-radius: 8px 8px 0 0;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.main-menu a {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  margin-right: 40px;
}

/* === Banner 区域整体布局 === */
.banner-section {
  display: flex;
  gap: 24px;
  padding-left: 38px;
  padding-right: 38px;
  background-color: #f5f5f5;
  flex-direction: column;
  margin-top: 16px;
}

.banner-top-row {
  display: flex;
  gap: 24px;
  align-items: stretch; 
  height: auto;
}

.banner-main,
.hotsale-box {
  height: 430px;/*让两个sections一样高度*/
  display: flex;
  flex-direction: column;
}

/* 底部横向排列 */
.banner-bottom-row {
  display: flex;
  gap: 36px;
  margin-top: 12px;
}

/* === 左边Banner大图区域 === */
.banner-main {
  position: relative;
  flex: 3;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}

.banner-img-wrapper {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.main-banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.main-banner-img.active {
  opacity: 1;
  pointer-events: auto;
}

/* === 左右箭头按钮 === */

/* 凹进去 */
.banner-arrow-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  
}

.banner-arrow-wrapper.left {
  left: -24px; /* 一半溢出 */
}

.banner-arrow-wrapper.right {
  right: -24px;
}

/* 蓝色按钮主体 */
.banner-arrow-btn {
  background-color: #3b82f6; 
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.banner-arrow-btn:hover {
  background-color: rgb(24, 56, 131);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*arrow尺寸 */
.banner-arrow-btn img {
  width: 20px;
  height: 20px;
}

/* 右边 HotSale 区域 */
.banner-section {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

/* 右边整体 Hot-Sale 区域 */
.hotsale-box {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
  border: 1px solid #eeeeee;
}

/* 标题区域 */
.hotsale-header .hotsale-label {
  color: #d62828;
  font-weight: 600;
  font-size: 14px;
}

.hotsale-header .hotsale-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: -2px;
  margin-top: -5px;
}

.hotsale-header .hotsale-subtitle {
  font-size: 12px;
  color: #000000;
  font-weight: 300;
}

.hotsale-header a {
  color: #d62828;
  font-weight: 600;
}

/* 商品列表 */
.hotsale-list {
  list-style: none;
  padding: 0;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hotsale-list li {
  display: flex;
  gap: 12px;
  align-items: center;
}


.image-wrapper {
  width: 88px;
  height: 88px;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotsale-list img {
  width: 80px;
  height: 80px;
  object-fit:contain;

}

.info .title {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
  line-height: 1.2;
  
}

.info .title.red {
  color: #d62828;
}

.info .price {
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

.info .price del {
  font-size: 12px;
  color: #aaa;
  margin-left: 6px;
  font-weight: 400;
}

.info .stars {
  font-size: 12px;
  color: #FFBD00;
  margin-top: -3px;
}

/*第二行banner*/
.banner-bottom-row {
  display: flex;
  gap: 24px;
  height: 320px;
  margin-bottom: 90px; /*下面的空间*/
}

/* 左下角家具Banner */
.furniture-banner {
  border: 1px solid #eeeeee;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px; /*第二行的高度*/
  width: 380px;
}

.furniture-banner img {
  width: 100%;
  height: 105%;
  border-radius: 12px;
  object-fit:cover;
  flex-grow: 1;
}

/* 右下角 Hot Sale区域 */
/*右下角最外圈透明*/
.hot-sale-wrapper {
  flex: 3;
  position: relative;
}

/*橘色背景*/
.hot-sale-promo {
  background-color: #ffedd2;
  padding: 24px;
  border-radius: 12px;
  height: 240px;
  border: 1px solid #eeeeee;
}

/* 标题部分 */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-text {
  display: flex;
  flex-direction: column;
}

.left-text .label {
  color: #d62828;
  font-weight: 700;
  font-size: 14px;
}

.left-text h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: -2px;
}

.left-text p {
  font-size: 12px;
  color: #555;
  font-weight: 400;
}

.btn-text-horizontal {
  background-color: #f97316;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.btn-text-horizontal p {
  font-size: 14px;
  font-weight: 500;
}

.btn-text-horizontal img.arrow-icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
}

.btn-text-horizontal {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.btn-text-horizontal:active {
  transform: scale(0.95); /* 按下时轻微缩小 */
}

/* 商品卡片区域 */
.product-row {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 120px; /* 控制浮出位置 */
  left: 0;
  right: 0;
  padding: 0 24px;
}


.product-card {
  background: white;
  border-radius: 12px;
  width: 22%;
  padding: 16px;
  z-index: 2;
  height: 260px;
  width: 300px;
  border: 1px solid #eeeeee;
}

.big-image-wrapper {
  width: 100%;
  height: 140px;            
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: transparent;
  overflow: hidden;
  border: NO;
}

.big-image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.product-name {
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.product-price {
  font-size: 13px;
  margin-top: 10px;
}

.new-price {
  color: #e53935;
  font-weight: bold;
  font-size: 18px;
  
}

.old-price {
  text-decoration: line-through;
  color: #aaa;
  font-size: 13px;
  margin-left: 6px;
}

.stars {
  color: #FFBD00;
  font-size: 13px;
}

.review-count {
  color: #777777;
  font-size: 10px;
  margin-left: 4px;
}

/* === Popular Categories Section === */
.categories {
  background-color: #FFFDF9;
  padding-bottom: 42px;
  text-align: center;
  padding-top: 32px;
  border: 1px solid #eeeeee;
}

.categories h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 4px;
}

.categories p {
  color: #555;
  font-size: 15px;
  margin-bottom: 32px;
  font-weight: 300;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 每行7个 */
  gap: 12px;
  justify-items: center;
  margin: 0 auto;
  max-width: fit-content;
  
}

.category-item {
  width: 130px;
  height: 110px; 
  background-color: #FFEDD2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.category-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffdda1;
}

.category-item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  padding-bottom: 6px;
  transition: transform 0.3s ease;
}

.category-item:hover img {
  transform: translateY(-4px);
}

.category-item p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

/* ==== rec bar === */
.recommend-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  height: 68px;
  margin: 24px 100px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}

.recommend-label {
  background-color: #f97316;
  color: white;
  border-radius: 12px 0 0 12px;
  font-size: 22px;
  font-weight: 600;
  height: 68px;
  width: 240px;
  display: flex;
  justify-content: center; 
  align-items: center;   

}

.recommend-subtext {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0 16px;
}

.view-more-vertical-btn {
  background-color: #f97316;
  height: 40px;
  color: white;
  font-weight:500;
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 12px;
  width: 80px;
  transition: transform 0.12s ease-in-out; 
  cursor: pointer; 
}

.view-more-vertical-btn:active {
  transform: scale(0.95);                
}

.view-more-vertical-btn img {
  width: 32px;
  height: 32px;
  margin-left: -2px;
  margin-right: -2px;
  vertical-align: middle;
}

/* === rec product card === */
.rec-product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px;
  margin-top: 2px;
  margin-bottom: 24px;
  
}

.rec-product-card {
  background-color: white;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  width: calc(25% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  position: relative;
  border: 1px solid #eeeeee;
}

.rec-image-wrapper {
  width: 200px;         
  height: 200px;        
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  overflow: hidden;
  position: relative;
}

.product-img {
  width: 100%;
  object-fit: cover;
  display: block;
}


.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.rec-product-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.icon-heart {
  width: 22px;
  height: 22px;
  margin-left: 12px;
  cursor: pointer;
  margin-top: -16px;
  transition: transform 0.12s ease-in-out;
}

.icon-heart:active {
  transform: scale(0.85);
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.rec-price {
  display: flex;
  align-items: baseline;
  gap: 14px;
  margin-top: 8px;
}

.rec-new-price {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.rec-old-price {
  color: #B3B3B3;
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}

.add-to-cart {
  background-color: #f97316;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.12s ease-in-out, background-color 0.3s ease;
}

.add-to-cart:active {
  transform: scale(0.9);
}

.add-to-cart img {
  width: 26px;
  height: 26px;
  padding-right: 1px;
  padding-top: 1px;
}


.rec-star-icons {
  font-size: 18px;
  color: #FFBD00;
  
}

.rec-review-count {
  font-size: 14px;
  color: #777;
  margin-left: 4px; /* 和星星之间间距 */
}

.tag {
  display: inline-block;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: thin;
  color: white;
  border-radius: 4px;
  width: auto;
  width: fit-content;
  margin-left: -6px;
}

.tag.red {
  background-color: #D32F2F;
}

.tag.yellow {
  background-color: #FFBD00;
}

/* === Footer === */
.site-footer {
  background-color: #ffedd2;
  padding: 48px 32px 24px;
  font-size: 14px;
  color: #111;
}

.footer-columns {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  gap: 100px;
}

/*Logo*/
.footer-logo img {
  max-width: 240px;
  margin-top: -14px;
}

.footer-col h4 {
  font-weight: 650;
  margin-bottom: 12px;
  font-size: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.footer-col ul li a:hover {
  color: #f97316;
}

/* Social and copyright area */
.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}


.social-icons a {
  background-color: #f97316;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.social-icons img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); 
}

.social-icons img:hover {
  transform: scale(1.1);
}

.copyright {
  font-size: 13px;
  color: #555;
}
